<%= render 'navbar_dashboard' %>
<body style="background-color: #212529">
	
<h4 style="color: white">Number of User : <%= @users.count %></h1>
<div class="bd-example">
  <table class="table table-dark">
    <thead>
      <tr>
		<th scope="col">Email</th>
		<th scope="col">Firstname</th>
		<th scope="col">Lastname</th>
		<th scope="col">Phone Number</th>
		<th scope="col">Job</th>
		<th scope="col">Gender</th>
		<th scope="col">Age</th>
		<th scope="col">Reference</th>
		<th scope="col">Last Sign</th>
		<th scope="col">Delete User </th>

      </tr>
    </thead>
    <tbody>
    
    <% @users.each do |user| %>

      <tr class="table-active">
		<td class="bg-primary"><%= user.email %></td>
		<td><%= user.firstname %></td>
		<td class="bg-success"><%= user.lastname %></td>
		<td><%= user.phonenumber %></td>
		<td class="bg-danger">s<%= user.job %></td>
		<td><%= user.gender %></td>
		<td class="bg-info"><%= user.age %></td>
		<td><%= user.reference_note %></td>
		<td class="bg-warning"><%= user.last_sign_in_at %></td>
		<td class="bg-danger"><%= link_to "Destroy", deleteuser_url(user),:data => {:confirm => 'Are you sure?'} %></td>
   
	  </tr>
    
    <% end %>

    </tbody>
  </table>
</div>


</body><%# link_to "Destroy", admin_destroy_user_path(user), method: :delete, data: { confirm: "You sure?" } %>