
<center >
  <%= render 'main/navbar_default' %>
  <h2>Sign up</h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>
    <div class="field form-group">
      <%= f.label :firstname, style: "margin-right: 130px;"%>  <%= f.label :lastname %><br />
      <%= f.text_field :firstname, autocomplete: "off", style: "margin-right: 10px;", placeholder: "First Name" %>      
      <%= f.text_field :lastname, autocomplete: "off", placeholder: "Last Name" %>
    </div>

    <div class="field form-group">
      <%= f.label :email, style: "margin-right: 130px"%><%= f.label :phonenumber %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", style: "margin-right: 10px;", placeholder: "Email"%> 
      <%= f.text_field :phonenumber, autocomplete: "off", placeholder: "Phone"%>
    </div>

    <div class="field form-group">
      <%= f.label :password %> <%= f.label :password_confirmation, style: "margin-left: 120px;"%><br />
      <%= f.password_field :password, autocomplete: "off", style: "margin-right: 10px;", placeholder: "Password"%> 
      <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "Password Confirm" %></br>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
    </div>

    <div>
      <%= f.label :job, style: "margin-right: 35px;"%> <%= f.label :gender %><br />
      <select class="field form-group">
        <option>select</option>
        <option>student</option>
        <option>teacher</option>
      </select>
      <select class="field form-group">
        <option>select</option>
        <option>man</option>
        <option>women</option>
      </select>
    </div>

      <div class="field form-group">
        <%= f.label :age %><br />
        <%= f.text_field :age, autocomplete: "off", placeholder: "Age" %>
      </div>
      <div class="field form-group">
        <%= f.label :reference_note %><br />
        <%= f.text_field :reference_note, autocomplete: "off", placeholder: "Referance code"%>
    </div>
    <div class="actions">
      <%= f.submit "Sign up" %>
    </div>
  <% end %>

  <%= render "users/shared/links" %>
</center>
